.containoer{
    position: relative;
    width: 500px;
    height: 500px;
}

.item1{
    position: relative;
    left: 50px;
    top: 30px;
}

.item2{
    position: absolute;
    right: 30px;
    bottom: 100px;
}

.item3{
    position: fixed;
    right: 100px;
    top: 100px;
}