<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>외부 api 사용</title>

    <!-- axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>간단 open API 사용하기</h1>

    <h3>고양이 사진 바꾸기</h3>
    <img src="" alt="기본 이미지" id="img" />
    <button onclick="changeCatImage()">고양이 사진 변경</button>

    <h3>영화 정보 가져오기</h3>
    <ul></ul>

    <script>
      // https://api.thecatapi.com/v1/images/search
      function changeCatImage() {
        fetch("https://api.thecatapi.com/v1/images/search")
          .then(function (res) {
            console.log(res);
            return res.json();
          })
          .then(function (data) {
            console.log(data); // [{id, url, width, etc}]
            const img = document.getElementById("img");
            img.src = data[0].url;
            img.alt = `${data[0].id}-cat-image`;
            img.width = 400;
          });
      }

      //   api key : 2e2df2bd
      //   http://www.omdbapi.com/?apikey=[yourkey]&
      const word = "love";
      axios({
        method: "get",
        url: "http://www.omdbapi.com/?apikey=2e2df2bd&s=" + word,
      }).then((res) => {
        console.log(res.data); //{searchm totalResults, Response}
        // 배열{poster, title, type, imdbID[]}
        console.log(res.data.Search);

        const container = document.querySelector("ul");
        for (let movie of res.data.Search) {
          //   console.log(movie.Title);  영화 제목
          const div = document.createElement("div");
          const img = document.createElement("img");
          const p = document.createElement("p");

          img.src = movie.Poster;
          img.alt = movie.imdbID + "movie image";

          p.innerText = movie.Title;

          div.append(img, p);
          container.append(div);
        }
      });
    </script>
  </body>
</html>
