<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MVC 실습</title>

    <!-- jQuery CDN -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>

    <!-- axios CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style>
      label {
        display: flex;
      }

      label span {
        width: 90px;
      }

      .success {
        color: blue;
        font-weight: bolder;
      }

      .error {
        color: red;
        font-weight: bolder;
      }
    </style>
  </head>
  <body>
    <form name="register">
      <label for="id">
        <span>아이디</span>
        <input type="text" name="id" id="id" placeholder="id" required />
      </label>
      <label for="pw">
        <span>비밀번호</span>
        <input
          type="password"
          name="pw"
          id="pw"
          placeholder="password"
          required
        />
      </label>
      <br />
      <button type="button" onclick="clickLogin()">로그인1</button>
      <button type="button" onclick="clickLogin2()">로그인2</button>
    </form>
    <div class="result"></div>
  </body>
  <!-- script -->
  <script>
    const result = document.querySelector(".result");

    function clickLogin() {
      const form = document.forms["register"];
      const data = {
        id: form.id.value,
        pw: form.pw.value,
      };

      if (!form.id.checkValidity() || !form.pw.checkValidity()) {
        result.textContent = "아이디와 비밀번호는 필수입니다";
        return;
      }

      axios({
        url: "/",
        method: "post",
        data: data,
      })
        .then((res) => {
          console.log(res.data);
          if (res.data.isSuccess) {
            result.textContent = `${res.data.id}님 로그인 성공`;
            result.classList.add("success");
            result.classList.remove("error");
          } else {
            result.textContent = "아이디 또는 패스워드 오류입니다";
            result.classList.add("error");
            result.classList.remove("success");
          }
        })
        .catch((error) => {
          console.error("err", error);
          result.textContent = "서버 오류";
        });
    }

    async function clickLogin2() {
      const form = document.forms["register"];
      const data = {
        id: form.id.value,
        pw: form.pw.value,
      };
      try {
        const response = await axios({
          url: "/login2",
          method: "post",
          data: data,
        });
        console.log(response.data);
        result.textContent = `${response.data.name}님 환영합니다`;
      } catch (err) {
        console.error("err", err);
        result.textContent = "서버 오류 발생";
      }
    }
  </script>
</html>
