<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./includes/head.ejs', {title:'login page'}) %>
  </head>
  <body>
    <%- include('./includes/header.ejs') %>

    <h1>login</h1>
  </body>
</html>
