<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cookie</title>
  </head>
  <body>
    <h1>cookie 확인하기</h1>
    <a href="/setCookie">쿠키 설정</a>
    <a href="/getCookie">쿠키값 가져오기</a>
    <a href="/clearCookie">쿠키 삭제</a>
  </body>
  <script>
    console.log("document.cookie", document.cookie);
    // 프론트 쿠키 설정
    // document.cookie =
    //   "user=집가고싶어; expires=09 Dec 2024 /15:00:00 GMT; path=/";
  </script>
</html>
